.date-header span {background-color: transparent;color: #000000;padding: 0.4em;letter-spacing: 0em;margin: inherit;
font-style:italic;padding-top:25px;
text-shadow: -1px 0 rgba(1,1,1,0), 0 1px rgba(1,1,1,0), 1px 0 rgba(1,1,1,0), 0 -1px rgba(1,1,1,0);}
.small_img{display:none;}
#headerblank{padding-top:20px;     display:block;}
/* hide Blogger bar */
 .noPrinth {padding-top:55px;height:177px;}
#navbar-iframe, .labels, h4, .printarticle, .noPrint,  #readtest, .tabs-outer, .tabs-outer, .addthiss .post-labels, .blog-pager, .quickedit, .post-feeds, .post-share-buttons, .comment-replybox-thread, .podder, #comments { 
display: none; }
/* Reset colors to black text on white background and background images */
.footer , .post-outer { 
background-image: none; 
color: black; text-shadow: none; }
/* Hide Pages, sidebars, embedded videos  iframes */
.sidebar { 
display: none; width: 0%; }
iframe, object { 
display: none; }

/* Reset post width to fill the entire page */
.main-inner, .columns {
padding-left: 0px !important;
padding-right: 0px !important;
width: 100%; }
.content-outer { 
margin: 0px; width: 100%; }
.content-inner {
padding: 0px; width: 100%; }
.post-outer { 
 border: none; width: 100%; }
/* Specific for my blog */
#footer-2-1, #footer-2-2, #sharenav, .buttonlist, .videocontainer, #nodisplay320, #display320topsearchbar, #nodisplay { 
 display: none; }